*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #9ff0e4;
}
header{
    width: 100%;
    height: 6rem;
    background-color: #168b86;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-pri{
    width: 40%;
    height: 100%;
}

.container-logo{
    width: 30%;
    height: 100%;
}
.img-web{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #168b86;
    margin: 0.5rem;
    display: flex;
    justify-content: right;
    float: right;   
    box-shadow: 0 0 20px beige;
}

button{
   padding: 5px ;
   margin-right: 1px;
   background-color: #21bab0;
   color: #072b2c;
   border-radius: 20px;
   cursor: pointer;
}

button:hover{
    background-color: #168b86;
    color: #072b2c;
}


h1{
    text-align: center;
    text-shadow: 0 0 10px beige;
}
.container-2{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 1.5rem;
   margin: 1rem;
   margin-bottom: 0.5rem;
}
.container-2-1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 75rem;
    margin: 0.3rem;
}
.select{
    width: 22%;
    border-radius: 20px;
    text-align: center;

}
.input{
    border-radius: 20px;
}

h3{
    font-size: 0.83rem;
    margin: 4px 0;
}
.container-3{
    width: 98%;
    padding: 0.8rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card{
    width: 14rem;
    height: 15rem;
    margin: 16px;
    margin-top: 0.7rem;
    margin-bottom: 0;
    background-color: #168b86;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.card > img{
    width: 100%;
    height: 92%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.name{
    color: beige;
    font-size: 2.1rem;
    text-align: left;
    width: 100%;
    height: 28%;
    padding: 0.5rem;
    margin-left: 0.8rem;
}
.container-4{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #168b86;
}
.social{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social >ul {
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}
.social >ul > li{
    list-style: none;
    margin-right: 1.5rem;
    font-size: 2.4rem;
    cursor: pointer;
}
.line{
    width: 35%;
    margin-right: 1.3rem;
}

